.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
  
}

.section-padding {
  padding: 6rem 0;
}

/* arrow-up */
.up{
  position: fixed;
  bottom: 40px;
  right: 50px;
}

.up a {
  color: var(--font-color);
  font-size: 6rem;
  transition: color 0.5s ease-in;
}

.up a:hover{
  transition: color 0.5s ease-in;
  color:var(--dark-color);
}