.card {
    width: 250px;
    cursor: pointer;
    padding:6rem 0;
}

  .content {
    height:fit-content;
    width: 350px;
    min-height: 350px;
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: #088ad6fa;
    color: white;
    padding: 5em;
    transform-style: preserve-3d;
    border-radius: 15px;
    border: 3px inset var(--font-color);
  }

  
  .card:hover .content {
    transform: rotateY(0.5turn);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 15px;
    
  }
    

  .title {
    transform: translateZ(5rem);
    font-size: 3rem;
    color: white;
    padding-bottom: 3rem;

  }
  
  .subtitle {
    transform: translateZ(2rem);
    color: #ebedf3;
    line-height: 4rem;
    
  }
  
  .back {
    transform: rotateY(0.5turn);
    background-color: var(--bg-color2);
    border: 3px inset var(--bg-color);
    color:white;

  }
  
  .description {
    transform: translateZ(3rem);
    line-height: 3rem;
  }
  
  .description li{
    text-align: start;
  }
