.header{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    background-image: linear-gradient(#030111, #13010160), url('../../assets/star_landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header_content{
    display: flex;
    flex-direction: column;
    height: 100vh;;
    padding: 6rem 0;
    color: var(--font-color2);
    
}

.header_title {
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    text-align: center;
}

.header_description {
    line-height: 3rem;
    text-align:justify;
}

@keyframes intro {
    0% {
        transform: perspective(200px) rotateX(20deg) translateY(500px);
        opacity: 1;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        transform: perspective(200px) rotateX(20deg) translateY(-400px);
        opacity: 0;
    }
}



@media screen and (min-width: 992px){
    .header_content {
        padding: 0 40rem;
        align-items: center;
        text-align: left;
        column-gap: 6rem;
        text-align: center;
        transform: perspective(200px) rotateX(20deg);
        animation: intro 20s linear infinite;
    }
}

@media screen and (max-width:992px) {
    .header_title {
        display: none;
    }
    .header_description{
        display:none;
    }
}