.characters{
    padding: 6rem 0;
    background-color: var(--bg-color);
}

.section_title {
    width: 320px;
    margin:0 auto;
    padding-bottom: 4rem;
    text-align: center;
}

.title {
    color:var(--font-color);
    text-transform: uppercase;
    font-size: 3rem;
}

.content {
    display: grid;
    padding-left: 10rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}




