.navbar{
    background-color: var(--bg-color);
    padding: 2rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar_content{
    display: flex;
}

.navbar_brand img {
    display: flex;
    width: 19rem;
}

.brand_and_toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.navbar_collapse {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    padding: 4rem;
    transform: translate(100%);
    transition: var(--transition);
    z-index: 5;

}

.navbar_show {
    color: var(--font-color);
    transform: translate(0);
}

.navbar_collapse .navbar_hide{
    position: absolute;
    right: 2rem;
    top: 2rem;
    transition: var(--transition);
    color: var(--font-color);
}

.navbar_collapse .navbar_hide:hover{
    opacity: 0.5;
}

.navbar_nav {
    text-transform: uppercase;
    text-align: center;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar_nav li {
    padding: 2rem 0;
}

.navbar_nav li:hover{
    color:var(--dark-color)
}

@media screen and (min-width: 280px){
    .navbar_collapse{
        width: 200px;
    }  
    .navbar_nav{
        font-size: 16px;
    }
}

@media screen and (min-width: 480px){
    .navbar_collapse{
        width: 300px;
    }  
}


@media screen and (min-width: 992px){
    .navbar_content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar_collapse{
        width: 320px;       
    }
    .brand_and_toggler{
        width: auto;
    }
    .navbar_collapse{
        width: 100%;
        position:relative;
        transform: translateX(0);
        padding: 0;
        justify-content: flex-end;
        background-color: transparent;
    }

    .navbar_nav{
        display: flex;
        align-items: center;
        margin-right: 4rem;
    }

    .navbar_collapse .nav_link{
        font-size: 16px;

    }

    .navbar_collapse .nav_link:hover{
        transform: none;
        color: var(--dark-color)
    }

    .navbar_collapse .nav_item{
        margin: 0 0 0 2.4rem
    }
    .navbar_hide, .navbar_show{
        display: none;
    }
}

